/*
====================================================================================================================================================================
                                                    Start Slideshow Properties 
====================================================================================================================================================================
*/
#logo{
    width: 121px;
}

section#content {
    color: rgb(9, 110, 128);
    position: absolute;
    top: 100px;
    left: 55px;

}

img#slide {
    width: 100%;
    height: auto;
}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties 
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties 
====================================================================================================================================================================
*/

div.course {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1000px;
    left: 20px;
}
.course img {
    width: 400px;
    height: 320px;
}

div.course2 {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1000px;
    left: 490px;
}
.course2 img {
    width: 400px;
    height: 320px;
}

div.course3 {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1000px;
    left: 915px;
}
.course3 img {
    width: 400px;
    height: 320px;
}
h6 {
	font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Featured Courses Properties 
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties 
====================================================================================================================================================================
*/

section#about {
    width: 100%;
    height: 509px;
    background: #252525;
    position: absolute;
    top: 1600px;
    left: 0;
}

div.about {
	color: white;
	text-align: center;
}

div.students {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 27px;
}

div.reviews {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 360px;
} 

div.courses {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 701px;
}

div.content {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left:1020px;
}

/*
====================================================================================================================================================================
                                                    End About Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties 
====================================================================================================================================================================
*/

div.learntechnow {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2300px;
    left: 20px;
}
.learntechnow img {
    width: 400px;
    height: 320px;
}

div.learntechpodcast {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2300px;
    left: 490px;
}
.learntechpodcast img {
    width: 400px;
    height: 320px;
}

div.learntechblog {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2300px;
    left: 915px;
}
.learntechblog img {
    width: 400px;
    height: 320px;
}

.h1lt {

    position: absolute;
    top: 2100px;
    left: 480px;

}
.footer a{
    margin-left: 557px;
    font-size: 15px;
}
.footer a:hover{
    color: white;
    background: transparent; 
   
  
}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background:  #148083;
    position: absolute;
    top: 5000px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/

